body {
    background-color: white;
    /*overflow: hidden; /* Hide scrollbars */
}


#canvas-wrap {
    margin: 0 auto;
    position: relative;
}

.overlay {
    position: absolute;
    margin: 0 auto;
    z-index: 5;
    border: 5px solid saddlebrown;
}

.overlay2 {
    position: absolute;
    margin: 0 auto;
    z-index: 10;
    border: 5px solid rgb(41, 18, 2);
    margin-left: 200px;
}

#input-overlay {
    position: absolute;
}

#overlay-div-1 {
    position: absolute;
    margin-left: 100px;
}

#overlay-div-3 {
    position: absolute;
    margin-left: 200px;
}

#overlay-div-2 {
    position: absolute;
    margin-left: 300px;
}

#canvas1 {
    display: block;
    margin: 0 auto;
    position: absolute;
    border: 0px solid #fcc;
    top: 0;
}


img {
    display: none;
}


.cmdUndo {
    left: 100px;
}






.drawingBoard { width: 250px; height: 250px; cursor: crosshair; overflow: hidden; border: 15px dotted rgb(93, 223, 34); border-radius: 90px; }/* clear: both; *background-color: #fafafa; }*/
.drawingBoard span { display: none; }
.drawingBoard.loading span { display: inline; color: #606060; }
/*.commands { width: 250px; margin-top: 3px; }*/
.cmd { width: 122px; background-color: #fce7c0; text-align: center; cursor: default; padding: 3px; color: #606060; border-radius: 30px;}
/*.cmd.cmdUndo { float: right; }*/
.cmd:hover { background-color: #f1d7a6; }
.charPicker, .results { 
  font-family: SimHei, "Microsoft Yahei", STXihei, STHeitiSC-Medium, DengXian, sans-serif;
  border: 1px solid #a0a0a0; padding: 3px; height: 70px; width: 400px; font-size: 48px; background-color: #fafafa; overflow: hidden; 
  color: #606060;
}

/*
#allResults {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: bisque;
}
*/
.results {
    font-size: xx-large;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
}



#oneResult { 
    background-color: #fc66db; 
    left: 100px;
}

#ifResult { 
    border: 5px solid #b81adf; 
    left: 300px;
}





/*
@media (max-width: 800px) {
  .content, .header { width: 100%; box-sizing: border-box; }
  .colLeft, .colRight { width: 100%; float: left; clear: both; padding-left: 0; }
  .commands { float: left; clear: both; }
}
*/